@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navbar {
  width: 100%;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
}

.container {
  width: 92%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  display: block;
  width: auto;
  height: 84px;
  object-fit: contain;
}

/* Navigation */

.nav-links {
  display: flex;
  list-style: none;
  gap: 45px;
}

.nav-links li a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
  position: relative;
}

.nav-links li a:hover {
  color: #2E7D32;
}

.nav-links li a.active {
  color: #2E7D32;
}

.nav-links li a.active::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  background: #2E7D32;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  border-radius: 20px;
}

/* Button */

.consult-btn {
  padding: 17px 34px;
  border: none;
  border-radius: 15px;
  background: #2E7D32;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.consult-btn:hover {
  background: #1B5E20;
  transform: translateY(-2px);
}

/* Responsive */

@media (max-width: 1100px) {

  .container {
    flex-wrap: wrap;
    gap: 20px;
  }

  .nav-links {
    gap: 25px;
  }

  .consult-btn {
    padding: 15px 25px;
  }
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
    padding: 15px 0;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }

  .logo-image {
    height: 68px;
  }

  .consult-btn {
    width: 100%;
    max-width: 300px;
  }
}